

body {

  font-family: tahoma;

  color:cadetblue;

  line-height: 14pt;

  padding-left: 5pt;

  padding-right: 5pt;

  padding-top: 40pt;

  text-align center;

}

h1
{
    text-align: center;
    text-decoration:none;
    font-size: 150%;
    font-weight: bold;
}

p
{
    text-align: center;
    text-decoration:none;
    font-size: 100%;
}

